@model Bekhrad_project.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-49">
                        Register
                    </span>
                    <section id="loginForm">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <span class="label-input100">Email</span>
                                <div class="col-md-10">

                                    @Html.TextBoxFor(m => m.Email, new { @class = "wrap-input100" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mt-4">
                                <span class="label-input100">Password</span>
                                <div class="col-md-10">

                                    @Html.PasswordFor(m => m.Password, new { @class = "wrap-input100" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mt-4">
                                <span class="label-input100">ConfirmPassword</span>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "wrap-input100" })

                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 mt-3">

                                </div>
                            </div>
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button type="submit" class="login100-form-btn">
                                        Register
                                    </button>
                                </div>
                            </div>
                        }
                    </section>
     
            </div>
            </form>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
